@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway');
  
  @mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;  
  }
  
  //Add your own mixins here
  @mixin backface-visibility($visibility: hidden) { //Add an argument
    backface-visibility: $visibility;
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    -ms-backface-visibility: $visibility;
    -o-backface-visibility: $visibility;
  }
  @mixin transform-style($style){
     transform-style: $style;
    -moz-transform-style: $style;
    -o-transform-style: $style;
    -ms-transform-style: $style;
    -webkit-transform-style: $style;
  }
  @mixin transition($time){
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
  }
  @mixin hover-color($color) {
     &:hover{
         color: $color;
     }
  }

.notecard {
    width: 320px;
    height: 202px;
    margin: 20px;
    z-index: initial;
    font-family: Roboto, sans-serif;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
    &:active{
        @include transform (rotatey(-180deg));  
      }
    @include transform-style(preserve-3d);
    @include transition(0.4s);
    
    .front, .back {
      padding-right: 15px;  
      width: 90%;
      height: 100%;
      position: absolute;
      @include backface-visibility;
  }
    
    .front {
    z-index: 3;
    font-size: 20px;
  
      .word {
        text-align: center;
        top: 0;
        @include hover-color(red);
        &__card{
            width: 320px;
            
        }
      }    
    }
    
    
    .back {
    z-index: 2;
    word-wrap: break-word;
    line-height: 1.6;
    @include transform(rotatey(-180deg));
    
      
      .definition {
        width: 100%;
        height: 100%;
        padding-top: 5px; 
        height: 100%;
      }
    }
}

$color-header: #00413d;
$color-header-title: #CC00FF;
.header{
    position: fixed;
    height: 50px;
    background-color: $color-header;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: space-between;
    svg{
        width: 25px;
        fill: white;
        padding-left: 5px;
    }
    &__img{
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #504d4d;
        left: 0;
        right: 0;
        height: 60px;
        width: 250px;
        position: relative;
        background-color: #00413d;
    }
    &__img--principal{
        height: 33px;
        width: 130px;
        margin-right: -15%;
    }
    &__principal{
        @extend .header__img--principal;
        padding-left: 90px;
    }
    &__explanation{   
        font-family: Merriweather;
        letter-spacing: 2px;
        color: white;
    }
    &__index{
        @extend .header__explanation;
        padding-right: 90px;
    }
    &__index--option{   
        font-family: Merriweather;
        letter-spacing: 2px;
        color: black;
        text-align: center;
        padding-top: 5px;
    }
    
}

.search-bar{
    padding-right: 50px;
    outline: none;
    border: none;
    background: none;
    color:white;
    font-size: 15px;
}

.header .header__menu{
    max-width: 35px;
    flex: 2;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.header .header__menu--search{
    max-width: 35px;
    flex: 2;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 1px; 
    padding-right: 12px;
}

.header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6a9f31;
    overflow-x: hidden;
    transition: 0.5s;
    &__topics{
        text-decoration: none;
        font-family: Ubuntu;
        text-align: left;
        padding-left: 10px;
        flex: 1;
        color: white;
        font-size: 18px;
    }
}

.sidenav a {
    text-align: left;
    border-top: 10px;
    margin-left: 5%;
    font-size:15px;
    color: #993333 ;
    display: block;
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.iconDetails {
	margin-left:5%;
	margin-right:10%;
	margin-bottom: 5%;
	float:left; 
	height:70px;
	width:100px; 
} 
.iconDetails_sidebar {
	margin-right:10%;
	float:left; 
	height:30px;
    width:30px; 
    margin-top: -1%;

}


.sidenav-close-btn{
    position: absolute;
    top: 0;
    right: 5px;
}

.sidenav-close-btn span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    padding: 10px; 
    cursor: pointer;
}
.headline{
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
    font-family: Roboto Condensed;
}
.dadosUsuario{
    text-align: center;
    &__usuario{
        height: 30px;
        width: 250px;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        padding-left: 5px;
        margin-bottom: 1%;
    }
    &__senha{
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 1%;
        @extend .dadosUsuario__usuario;
    }
    &__forgotPass{
        padding-right: 100px;
        text-decoration: none;
        color: #6a9f31;
        font-family: Roboto Condensed;
    }
    &__keepConnect{
        @extend .dadosUsuario__forgotPass;
    }
    &__entrar{
        margin-top: 10%;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        background-color: #6a9f31;
        border: none;
        font-family: Roboto Condensed;
        font-size: 20px;
        color: white; 
        
    }
    &__cadastrar{
        border-radius: 5px;
        height: 40px;
        width: 120px;
        background-color: #6a9f31;
        border: none;
        font-family: Roboto Condensed;
        font-size: 20px;
        color: white; 
        margin-top: -15%;
        
    }
    &__cadastro{
        border-radius: 5px;
        height: 40px;
        width: 120px;
        background-color: #6a9f31;
        border: none;
        font-family: Roboto Condensed;
        font-size: 20px;
        color: white; 
        margin: 7%;
    }
    &__terms{
        text-decoration: none;
        color: #6a9f31;
        font-family: Roboto Condensed;
        padding-top: 10px;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }

.socialMedias{
    text-align: center;
    &__option{
        padding-top: 5px;
        padding-left: 10px;
        text-align: center;
        font-family: Roboto Condensed;
    }
    &__option--account{
        padding-left: 10px;
        text-align: center;
        font-family: Roboto Condensed;
        margin-bottom: 1%;
    }
}

.racas{
    padding-top: 30px;
    text-align: center;
    margin-left: -2%;
}
.primeirosPassos{
    @extend .racas;
    &__topics{
        font-family: Roboto Condensed;
        font-size: 30px;
        margin-bottom: -0.5%;
    }
    &__explanation{
        text-align: justify;
        margin: 2%;
        font-family: Raleway;
        font-size: 14px;
    }
}
.topics__separator{
    margin-bottom: -3%;
}
.topics__names{
    text-align: justify;
    font-family: Raleway;
    font-size: 18px;
    padding: 5px;
}

.topics__names--link{
    text-decoration: none;
}